.bg-video {
  opacity: 0.5;
  filter: hue-rotate(120deg);
}
.about-upper-container {
  margin: 0 8rem;
  margin-bottom: 2rem !important;
}

/* .about-container {
  background-image: linear-gradient(black, rgb(39, 0, 0));
} */

.header-value {
  filter: drop-shadow(0 0 0.5em var(--remarkableRed));
}

.values-box-container {
  margin: 2rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.values-box {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-value {
  margin: 2rem 2rem;
  color: white;
  text-align: justify;
}

.values-container {
  margin: 0;
  font-weight: 100;
}

@media screen and (max-width: 960px) {
  .values-box-container {
    margin: 1rem;
    flex-direction: column;
  }
  .about-upper-container {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .values-box-container {
    margin: 2rem 15rem;
  }
}
