.feedbackCard {
  margin: 1rem;
  background-color: #fffff7 !important;
}

.feedbackCard:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
}

.feedbackCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.feedbackCardBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5em;
  align-items: flex-start;
}

.card-title-text {
  font-size: 1.3rem !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.card-text {
  font-size: medium !important;
}

.aspas {
  height: 1.5em;
  margin-left: 1rem;
}

.read-more-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 0.5rem;
}

@media screen and (max-width: 960px) {
  .card-title-text {
    font-size: large !important;
  }

  .card-text {
    font-size: small !important;
  }

  .card-text-description {
    font-size: small !important;
  }

  .aspas {
    display: none;
  }

  .feedbackCardContent {
    padding: 0 !important;
  }
}