.cardIcon {
  height: 10em;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 15rem;
  border-bottom: 2px solid;
  border-color: white;
}

.sliderImage {
  height: 20em;
}

.heading {
  color: var(--remarkableRed);
  font-size: 4rem !important;
}

@media screen and (max-width: 960px) {
  .sliderImage {
    height: 10em;
  }
  .boxContainer {
    padding: 2rem;
  }
}
