.card-scroller-container {
  background-color: var(--remarkableRed);
  padding-bottom: 2rem;
}

.box-scroller {
  margin: 0 1rem;
  display: inline-flex;
  align-items: center;
}

/*Scroller*/
.card-scroller {
  padding: 1rem 2.5rem 1rem 1rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 33.3%;

  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
}

.arrow {
  background-color: transparent;
  color: white;
}

.arrow:hover {
  filter: drop-shadow(0 0 0.5em black);
}

@media screen and (max-width: 960px) {
  .box-scroller {
    margin: 1rem;
  }
  .arrow {
    font-size: 0;
  }
  .card-scroller {
    grid-auto-columns: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .box-scroller {
    margin: 0 6rem;
  }
}
