.service-card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
}

.service-card-content {
  padding: 2rem;
  min-height: 300px;
  /* background: linear-gradient(
    25deg,
    rgb(156, 119, 119) 0%,
    rgba(232, 232, 232, 1) 25%,
    rgba(232, 232, 232, 1) 75%,
    rgb(156, 119, 119) 100%
  ); */
  background-color: #fffff7;
  width: 300px;
}

.rotate-button {
  color: var(--remarkableRed)
}

.rotate-button:hover {
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .service-card-content {
    width: 300px;
    margin-left: 1rem;
  }
  .react-card-flipper {
    margin: 1rem 0;
  }
}
