.boxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: center;
}

.cardIcon {
  height: 10em;
  width: 300px;
}

.sliderImage {
  height: 20em;
}

.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.heading {
  /* color: var(--remarkableRed); */
  font-size: 2rem !important;
}

.swiper {
  width: 75%;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.container:not(:last-child) .swiper {
  border-bottom: 2px solid;
  border-color: white;
}

.heart-drop {
  filter: drop-shadow(0 0 0.5em var(--remarkableRed));
}

@media screen and (max-width: 960px) {
  .sliderImage {
    height: 10em;
  }

  .swiper {
    width: 100%;
    margin-right: 0;
    padding-bottom: 2rem;
  }

  .box-left {
    display: none;
  }


  .cardIcon {
    display: none;
    height: 3em;
    width: 3em;
  }

  .boxContainer {
    padding: 0;
  }
}

@media screen and (min-width: 1600px) {
  .boxContainer {
    padding: 0 7rem 0 7rem;
  }
}
