.slider-image {
  height: 20em;
}
.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.swiper {
  width: 70%;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .slider-image {
    display: none;
  }
  .swiper {
    margin-right: 0;
  }
  .box-left {
    display: none;
  }
}
