.modal-box {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(#141414, black, #141414);
  background-size: cover;
  width: 50%;
  height: 80%;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 1);
  padding: 2rem;
  overflow-y: auto;
}

.modal-box:focus {
  outline: none;
}

.no-display {
  display: none;
}

.close-icon-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.close-icon {
  cursor: pointer;
}

.recaptcha-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-div {
  margin: 4rem;
}

@media screen and (max-width: 960px) {
  .modal-box {
    width: 80%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
