.upper-container {
  margin: 0 16rem;
  margin-bottom: 2rem !important;
}

.long-text {
  text-align: center;
}

.home-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-us {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aqui {
  height: 7em;
}

.logoHome {
  height: 30em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logoHome:hover {
  animation: heartBeat 1.2s infinite;
  filter: drop-shadow(0 0 1em var(--remarkableRed));
}

@media screen and (max-width: 960px) {
  .upper-container {
    margin: 0 1rem;
  }

  .long-text {
    font-size: 1rem !important;
    text-align: justify;
  }

  .contact-us {
    flex-direction: column;
    padding-bottom: 32px;
    /*rever*/
  }

  .bg-video {
    display: none;
  }
  
  .logoHome {
    height: 20em;
    padding-top: 5rem;
  }
}

@media screen and (min-width: 1600px) {
  .upper-container {
    margin: 0 35rem;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
