.upper-container {
  margin: 0 15rem;
}

.long-text {
  text-align: center;
  margin-bottom: 2rem !important;
}

.home-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-us {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aqui {
  height: 7em;
}

.aqui:hover {
  filter: drop-shadow(0 0 0.2em black);
}

@media screen and (max-width: 960px) {
  .upper-container {
    margin: 0 1rem;
  }

  .long-text {
    font-size: 1rem !important;
    text-align: justify;
  }

  .contact-us {
    flex-direction: column;
    padding-bottom: 32px; /*rever*/
  }

  .bg-video {
    display: none;
  }
}
