.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 8rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}
