.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBarBox {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black, #141414);
  width: 100%;
  z-index: 2;
}

.navBarBoxInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

.menuIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .menuIcon {
    margin: 2rem;
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 8rem;
    left: 200%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .link  {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    margin-right: 0;
  }

}
