#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logoContact {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.service {
  height: 10em;
}

.about {
  height: 10em;
  padding: 1.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #b21111);
}

.feedbackCard:hover {
  filter: drop-shadow(0 0 1em black);
}

.aqui {
  height: 5em; 
}
.aqui:hover {
  filter: drop-shadow(0 0 1em black);
}

.serviceCardInner {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.serviceCard:hover .serviceCardInner {
  transform: rotateY(180deg);
}
.serviceCard {
  perspective: 1000px;
}

.serviceCardBack {
  transform: rotateY(180deg);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.aspas {
  height: 5em;
}
