.contacts-container {
  margin: 0 5rem 2rem 5rem;
  text-align: left;
}

.logoContact {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.office-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .contacts-container {
    margin: 1rem;
    justify-content: center !important;
  }

  .logoContact {
    display: none;
  }
}
